.password-reveal-container {
    display: flex;
    width: 100%;
    font: 30px helvetica;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #030208;
    padding-left: 10px;
    padding-right: 10px;
}

.password-reveal-input {
    flex: 1;
    display: inline;
    font: 20px helvetica;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    margin-right: 10px;
    letter-spacing: 1px;
    font-family: "Lucida Console", monospace;
}

.eye-container {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
}

@keyframes eye-close {
    from { transform: scaleY(1) rotate(45deg) }
    to { transform:  scaleY(-1) rotate(45deg) }
}

@keyframes eye-blink {
    0% { transform: scaleY(-1) rotate(45deg) }
    3.3%  { transform: scaleY(1) rotate(45deg) }
    90% { transform: scaleY(1) rotate(45deg) }
    93.3% { transform: scaleY(-1) rotate(45deg) }
    96.7% { transform: scaleY(1) rotate(45deg) }
    100% { transform: scaleY(-1) rotate(45deg) }
}

@keyframes pupil-close {
    from { opacity: 1 }
    to { transform : scale(0) }
}

@keyframes pupil-blink {
    0% { opacity: 0 }
    3.3% { opacity: 1 }
    90% { opacity: 1 }
    93.3% { opacity: 0 }
    96.7% { opacity: 1 }
    100% { opacity: 0 }
}


.eye-eyelid-bottom {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    box-sizing: border-box;
    border: 2px solid white;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 11px 0 11px 0;
    transform: rotate(45deg);
}

.eye-eyelid-top {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    box-sizing: border-box;
    border: 2px solid white;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 11px 0 11px 0;
}

.pupil {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
}

.pupil-highlight {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 2px;
    left: 5px;
    border-radius: 2px;
    background-color: #030208;
}


.eye-eyelid-top.opened {
    animation: eye-blink 3s infinite;
    transform: rotate(45deg);
}

.eye-eyelid-top.closed {
    animation: eye-close 0.1s;
    transform: scaleY(-1) rotate(45deg);
}


.pupil.opened {
    animation: pupil-blink 3s infinite;
}

.pupil.closed {
    opacity: 0;
    animation: pupil-close 0.1s;
}