.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #030208;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font: 50px serif;
  width: 100%;
  padding: 20px 0 20px 0;
  color: white;
}

.App-content {
  background-color: #030208;
  padding: 10px;
  font: helvetica;
  color: white;
  padding-bottom: 30px;
}

.input-container {
  width: 300px;
  margin: 0 auto;
}

.input-container label {
  font: 16px helvetica;
  float: left;
  margin: 10px 0 10px 0;
}
